{% extends "auctions/layout.html" %}
{% block content %}
<div class="content-section mt-4">
    <h1 class="border-bttom mb-4">Login</h1>
    <form method="post" class="form-group">
        {% csrf_token %}
        <input class="form-control" name="username" placeholder="Username">
        <br>
        <input class="form-control" name="password" type="password" placeholder="Password">
        <br>
        <button type="submit" class="btn btn-outline-primary">
            Sign in
        </button>
    </form>
    <p class="text-muted">
        Don't have an Account ? Sign up <a href="{% url 'register' %}">here</a>.
    </p>
</div>
{% endblock content %}