{% extends "auctions/layout.html" %}
{% load static %}
{% block content %}
<div class="content-section mt-4">
    <form method="post" class="form-group mb-4">
        {% csrf_token %}
        {{ form | linebreaks}}
        <button type="submit" class="btn btn-outline-primary">
            Sign up
            <i class="fa fa-user-plus">

            </i>
        </button>
    </form>
    <p class="text-muted">
        Already have an Account ? Sign in <a href="{% url 'login' %}">here</a>.
    </p>
</div>
{% endblock content %}